**第3章 RFRスワップとマルチカーブ**

In [1]:
from myABBR import * ; import myUtil as mu
crvDATA = [('depo','1d',-0.009),  ('swap','1w',-0.01261),('swap','2w',-0.01469),
           ('swap','1m',-0.01807),('swap','3m',-0.01919),('swap','6m',-0.01043),
           ('swap','9m',0.00022), ('swap','12m',0.0125), ('swap','18m',0.03125),
           ('swap','2y',0.04875), ('swap','3y',0.07375), ('swap','4y',0.09479), 
           ('swap','5y',0.11854), ('swap','7y',0.19146)                       ]

In [2]:
def makeTonaCurve(crvDATA):
  
  # 1.指標金利オブジェクト
  tnCrvHDL = ql.RelinkableYieldTermStructureHandle()    
  tonaIX = ql.OvernightIndex('TONA', Tp0, jpyFX, calJP, dcA365, tnCrvHDL)
  # 2. カーブヘルパー
  cHelper, tnParRATE = [], []
  for knd, tnr, rt in crvDATA:
      if knd == 'depo':
          cHelper.append(ql.DepositRateHelper(mu.sqHDL(rt/100),tonaIX)) 
      if knd == 'swap':
          cHelper.append(ql.OISRateHelper(Tp2, pD(tnr), mu.sqHDL(rt/100),tonaIX))
      tnParRATE.append(rt/100)                                # パーレート用リスト
  # カーブオブジェクト
  tnCrvOBJ = ql.PiecewiseLogLinearDiscount(Tp0, calJP, cHelper, dcA365)
  tnCrvHDL.linkTo(tnCrvOBJ) ; tnCrvOBJ.enableExtrapolation()
  return [tonaIX, tnCrvOBJ, tnCrvHDL, tnParRATE]        # 4つのオブジェクトを戻す

In [3]:
tradeDT = jDT(2022,8,19) ; setEvDT(tradeDT)
tonaIX, tnCrvOBJ, tnCrvHDL, tnParRATE = makeTonaCurve(crvDATA)
dfTONA = pd.DataFrame([(dt,df,pr,tnCrvOBJ.zeroRate(dt,dcA365,cmpdSPL,freqA).rate()) 
                        for (dt,df),pr in zip(tnCrvOBJ.nodes()[1:], tnParRATE)  ],
                        columns=['date','tonaDF','parRT','zeroRT'])
print("決済日(reference): ", tnCrvOBJ.referenceDate().ISO())
fmtSCF.update(tonaDF='{:.11f}')
display(dfTONA[:4].style.format(fmtSCF))

決済日(reference):  2022-08-19

In [4]:
tnCrvOBJ.discount(jDT(2022,8,23))

1.0000010852067613

In [5]:
# TONAカーブの5%シフト
tnSFtOBJ= ql.ZeroSpreadedTermStructure(
                                tnCrvHDL, mu.sqHDL(5.0/100), cmpdSPL, freqA, dcA365)
tnSFtHDL= ql.YieldTermStructureHandle(tnSFtOBJ)
tnSFtIX = ql.OvernightIndex('TONA', Tp0, jpyFX, calJP, dcA365, tnSFtHDL)
dfSFT   = pd.DataFrame([(tnSFtOBJ.zeroRate(dt, dcA365, cmpdSPL, freqA).rate(),
            tnSFtOBJ.discount(dt) ) for dt in dfTONA.date], columns=['shftRT','DF'])
dfTnSFT = pd.concat([dfTONA,dfSFT], axis=1)
display(dfTnSFT[:4].style.format(fmtSCF))
# シフトカーブの使用
tnCrvOBJ = tnSFtOBJ; tnCrvHDL = tnSFtHDL; tonaIX = tnSFtIX

In [6]:
# 3.スワップ条件  payRcv:ql.OvernightIndexedSwap.Payer = 1
effDT,               matDT,    payRcv, payLag, ntlAMT,     cpnRT,  sprdRT  =\
jDT(2022,8,23), jDT(2022,8,30),  1,      2,   10_000_000, 5.0/100,   0.0

# 4.スケジュール及びスワップオブジェクトの作成、エンジン設定
fixSCD  = ql.Schedule(effDT, matDT, pdFreqA, calJP, mFLLW, mFLLW, dtGENb, EoMf)
swapOBJ = ql.OvernightIndexedSwap(
                 payRcv, ntlAMT, fixSCD, cpnRT, dcA365, tonaIX, sprdRT, payLag)
swapOBJ.setPricingEngine(ql.DiscountingSwapEngine(tnCrvHDL))

# 5. 計算結果
pd.DataFrame([  
    ['固定レグ時価'    ,swapOBJ.legNPV(0)],   ['変動レグ時価',swapOBJ.legNPV(1)],
    ['スワップ時価 NPV',swapOBJ.NPV()],       ['フェアレート',swapOBJ.fairRate()],
    ['フェアスプレッド',swapOBJ.fairSpread()] ], columns=['計算結果', ''])\
                                                 .style.format({'':'{:.7f}'})

In [7]:
# 固定レグ:0
fmtSCF['amount']='{:,.4f}'                           # fmtSCFのamount桁数 修正
dfFixCF = mu.swapCashFlow(swapOBJ, tnCrvOBJ, 0)
dfFixCF.style.format(fmtSCF)

In [8]:
# 変動レグ:1
dfFltCF = mu.swapCashFlow(swapOBJ, tnCrvOBJ, 1)
dfFltCF.style.format(fmtSCF)

In [9]:
# フェアレート
effDF  = tnCrvOBJ.discount(effDT)
matDF  = tnCrvOBJ.discount(matDT)
annFCT = mu.calcAnnuity(fixSCD, tnCrvOBJ)
swpRT  = (effDF - matDF) / annFCT
print( f'effDF:{effDF:.8f}',   f' matDF:{matDF:.8f}',
    f' annuity:{annFCT:.8f}', f' swapRT:{swpRT:.6%}')

effDF:0.99945344  matDF:0.99849891  annuity:0.01914929  swapRT:4.984664%

In [10]:
# Schedule 3番目引数をpdFreqD, payLagは0へ
fixSCDdy  = ql.Schedule(effDT, matDT, pdFreqD, calJP, mFLLW, mFLLW, dtGENb, EoMf )
swapOBJdy = ql.OvernightIndexedSwap(payRcv, ntlAMT, fixSCDdy, cpnRT, dcA365, tonaIX)
dfCFdy    = mu.swapCashFlow(swapOBJdy, tnCrvOBJ, 1)  # 変動レグ:1
dfCFdy.style.format(fmtSCF)

In [11]:
# 8月29日のrate
aug29Fwd = (dfCFdy.DF[4]/dfCFdy.DF[5] -1)*365
print(f'TONAレート(Aug29): {aug29Fwd:.6%}')

TONAレート(Aug29): 4.980583%

In [12]:
# 変動レグの将来価値とrate
dlyCmp = (1+ dfCFdy.days[1:]/365 * dfCFdy.rate[1:]).cumprod()-1
print(f'将来価値: {dlyCmp.iloc[-1]*ntlAMT:,.4f}',
        f'ﾌｪｱﾚｰﾄ: {dlyCmp.iloc[-1]*365/7 :.6%}' )

将来価値: 9,559.6298 ﾌｪｱﾚｰﾄ: 4.984664%

In [13]:
# cumprodとiloc[-1]
srEX1 = pd.Series([3,4,5]).cumprod() ; print('cumprod= \n',srEX1)
print('iloc[-1]=',srEX1.iloc[-1])

cumprod=
 0     3
1    12
2    60
dtype: int64
iloc[-1]= 60

In [14]:
# 8月25日評価
tnFixDT = [jDT(2022,8,23), jDT(2022,8,24)]              # Tona fixing
tnFixRT = [     5.1/100,     5.2/100     ]
tonaIX.addFixings(tnFixDT, tnFixRT, True)
tradeDT = jDT(2022,8,25)  ; setEvDT(tradeDT)            # 日付修正

print('(8月25日評価)')                                  # スワップ評価
display( pd.DataFrame([  
    ['固定レグ時価'    ,swapOBJ.legNPV(0)],   ['変動レグ時価',swapOBJ.legNPV(1)],
    ['スワップ時価 NPV',swapOBJ.NPV()],       ['フェアレート',swapOBJ.fairRate()],
    ['フェアスプレッド',swapOBJ.fairSpread()] ], columns=['計算結果', ''])\
                                                 .style.format({'':'{:.7f}'}) )
print('(変動レグ明細)')                                 # 変動レグ
display( mu.swapCashFlow(swapOBJ, tnCrvOBJ, 1).style.format(fmtSCF) )

print('(TONAフォワードレート明細)')                     # TONAフォワードレート
dfAug25 = mu.swapCashFlow(swapOBJdy, tnCrvOBJ, 1)
display( dfAug25.style.format(fmtSCF))
                                                        # 変動レグの将来価値とrate
dlyCmp = (1+ dfAug25.days[1:]/365 * dfAug25.rate[1:]).cumprod()-1
print(f'(hc)将来価値: {dlyCmp.iloc[-1]*ntlAMT:,.4f}',
        f'(hc)ﾌｪｱﾚｰﾄ: {dlyCmp.iloc[-1]*365/7 :.6%} ')

(8月25日評価)

(変動レグ明細)

(TONAフォワードレート明細)

(hc)将来価値: 9,657.0754 (hc)ﾌｪｱﾚｰﾄ: 5.035475%

**Sofr**

In [15]:
from myABBR import * ; import myUtil as mu
crvDATA = [('depo','1d',5.31), ('swap','1m',5.32), ('swap','3m',5.38),
           ('swap','6m',5.46), ('swap','1y',5.45), ('swap','2y',5.01),
           ('swap','3y',4.67)]

In [16]:
def makeSofrCurve(crvDATA):
  
  # 1.指標金利オブジェクトと初期値設定
  sfCrvHDL = ql.RelinkableYieldTermStructureHandle()  
  sofrIX = ql.Sofr(sfCrvHDL)
  # 2. HelperとSOFRカーブオブジェクト
  cHelper, sfParRATE = [], []
  for knd, tnr, rt in crvDATA:
      if knd == 'depo':
          cHelper.append(ql.DepositRateHelper(mu.sqHDL(rt/100),sofrIX)) 
      if knd == 'swap':
          cHelper.append(ql.OISRateHelper(Tp2,pD(tnr),mu.sqHDL(rt/100),sofrIX))
      sfParRATE.append(rt/100)                             # パーレート用リスト
  # カーブオブジェクト      
  sfCrvOBJ = ql.PiecewiseLogLinearDiscount(Tp0, calUSs, cHelper, dcA360)
  sfCrvHDL.linkTo(sfCrvOBJ) ; sfCrvOBJ.enableExtrapolation()
  return [sofrIX, sfCrvOBJ, sfCrvHDL, sfParRATE]      # 4つのオブジェクトを戻す

In [17]:
tradeDT = jDT(2023,9,26) ; setEvDT(tradeDT)
# SOFRカーブ作成
sofrIX, sfCrvOBJ, sfCrvHDL, sfParRATE = makeSofrCurve(crvDATA)
dfSOFR  = pd.DataFrame([(dt.ISO(),df) for dt,df in sfCrvOBJ.nodes()],
                                                columns=['date','DF'])
print("決済日(reference): ", sfCrvOBJ.referenceDate().ISO())
dfSOFR.style.format({'DF':'{:.9f}' })

決済日(reference):  2023-09-26

In [18]:
settleDT = sofrIX.valueDate(tradeDT)
print('trade          : ', tradeDT.ISO())
print('settle         : ', settleDT.ISO())
print('--------------- ------------')
print('fixingDays     : ', sofrIX.fixingDays())
print('fixingDate     : ', sofrIX.fixingDate(settleDT).ISO(), '\n')
print('tenor          : ', sofrIX.tenor()) 
print('dayCounter     : ', sofrIX.dayCounter())
print('fixingCalendar : ', sofrIX.fixingCalendar())
print('maturityDate   : ', sofrIX.maturityDate(settleDT).ISO())

trade          :  2023-09-26
settle         :  2023-09-26
--------------- ------------
fixingDays     :  0
fixingDate     :  2023-09-26

tenor          :  1D
dayCounter     :  Actual/360 day counter
fixingCalendar :  SOFR fixing calendar calendar
maturityDate   :  2023-09-27

In [19]:
# スワップ条件  payRcv:ql.OvernightIndexedSwap.Payer = 1
effDT,               matDT,    payRcv, payLag, ntlAMT,     cpnRT,    sprdRT  =\
jDT(2023,9,28), jDT(2025,9,28),  1,      2,   10_000_000,  5.0/100,   0.0

# スケジュール及びスワップオブジェクトの作成、エンジン設定
fixSCD  = ql.Schedule(effDT, matDT, pdFreqA, calUSf, mFLLW, mFLLW, dtGENb, EoMf)
swapOBJ = ql.OvernightIndexedSwap(
                      payRcv, ntlAMT, fixSCD, cpnRT, dcA360, sofrIX, sprdRT, payLag)
swapOBJ.setPricingEngine(ql.DiscountingSwapEngine(sfCrvHDL))
# 計算結果
pd.DataFrame([  
    ['固定レグ時価'    ,swapOBJ.legNPV(0)],   ['変動レグ時価',swapOBJ.legNPV(1)],
    ['スワップ時価 NPV',swapOBJ.NPV()],       ['フェアレート',swapOBJ.fairRate()],
    ['フェアスプレッド',swapOBJ.fairSpread()] ], columns=['計算結果', ''])\
                                                 .style.format({'':'{:.5f}'})

In [20]:
# 休日リスト
print( calUSs.holidayList(jDT(2023,1,1), jDT(2023,12,31))[:6] )
print( calUSf.holidayList(jDT(2023,1,1), jDT(2023,12,31))[:6] )

(Date(2,1,2023), Date(16,1,2023), Date(20,2,2023), Date(7,4,2023), Date(29,5,2023), Date(19,6,2023))
(Date(2,1,2023), Date(16,1,2023), Date(20,2,2023), Date(29,5,2023), Date(19,6,2023), Date(4,7,2023))

In [21]:
# 変動レグ:1
dfFltCF = mu.swapCashFlow(swapOBJ, sfCrvOBJ, 1, dcA360)
dfFltCF.style.format(fmtSCF)

In [22]:
# forward swap rate
effDF  = sfCrvOBJ.discount(iDT(dfFltCF.accruEnd[1]))
matDF  = sfCrvOBJ.discount(iDT(dfFltCF.accruEnd[2]))
annFCT = 364/360*matDF
print(f'forward swap rate: {(effDF-matDF)/annFCT:.6%}')

forward swap rate: 4.544724%

In [23]:
from myABBR import *     ; import myUtil as mu
tradeDT = jDT(2023,9,26) ; setEvDT(tradeDT)
# 0.SOFRカーブ
crvDATA = [('depo','1d',5.31), ('swap','1m',5.32), ('swap','3m',5.38),
           ('swap','6m',5.46), ('swap','1y',5.45), ('swap','2y',5.01),
           ('swap','3y',4.67)]
sofrIX, sfCrvOBJ, sfCrvHDL, sfParRATE = mu.makeSofrCurve(crvDATA)

# 1.CME Term SOFR rate and Basis curve ( = all zero)
TsfRT3m  = 5.38558
TsfCrvBS = [('6m',0.0), ('1y',0.0), ('2y',0.0), ('3y',0.0) ]

# 2.TermSOFR指標金利オブジェクト
TsfCrvHDL= ql.RelinkableYieldTermStructureHandle()  
TsfIX    = ql.IborIndex('TermSofr', pdFreqQ, Tp2, usdFX, calUSs, mFLLW,
                                                          EoMt, dcA360, TsfCrvHDL)
# 3. Basis helperでのTermSOFRカーブオブジェクト
cHelper  = [ql.DepositRateHelper(mu.sqHDL(TsfRT3m/100),TsfIX)]
for tnr, bs in TsfCrvBS:
    cHelper.append(ql.OvernightIborBasisSwapRateHelper(mu.sqHDL(bs/100), 
                      pD(tnr), Tp2, calUSs, mFLLW, EoMf, sofrIX, TsfIX, sfCrvHDL))
TsfCrvOBJ = ql.PiecewiseLogLinearDiscount(Tp2, calUSs, cHelper, dcA360)
TsfCrvHDL.linkTo(TsfCrvOBJ) ; TsfCrvOBJ.enableExtrapolation()
# checking
print('決済日(reference):', TsfCrvOBJ.referenceDate().ISO())
[(dt.ISO(),df) for dt,df in TsfCrvOBJ.nodes()]

決済日(reference): 2023-09-28

[('2023-09-28', 1.0),
 ('2023-12-28', 0.9865692901876598),
 ('2024-03-28', 0.9731383278012513),
 ('2024-09-30', 0.947229008881084),
 ('2025-09-29', 0.9056140456298556),
 ('2026-09-28', 0.8708967171925004)]

**Two curve**

In [25]:
from myABBR import * ; import myUtil as mu ; setEvDT(jDT(2021,8,2))

# Forward curve 金利
sCrvHDL = ql.RelinkableYieldTermStructureHandle()  
Rt1y,    Rt2y,       IX1y                                         =\
0.07,    0.13,   ql.Tibor(pdFreqA, sCrvHDL)
# カーブ構築
sHelper = [ql.DepositRateHelper(Rt1y, IX1y), 
           ql.SwapRateHelper(Rt2y,pD('2y'),calJP,freqA,mFLLW,dcA365,IX1y)]
sCrvOBJ = ql.PiecewiseLogLinearDiscount(Tp2, calJP, sHelper, dcA365)
sCrvHDL.linkTo(sCrvOBJ)
# DF表示
dfSG = pd.DataFrame([(dt.ISO(),df,sCrvOBJ.zeroRate(dt,dcA365,cmpdSPL,freqA).rate())
                      for dt,df in sCrvOBJ.nodes()],columns=['date','DF','zeroRT']) 
display(dfSG.style.format(fmtSCF))
# DF手計算
print(f'1yr DF(hc): {1/(1+Rt1y)                   :.8f}, ',     # 1yr DF
      f'2yr DF(hc): {(1-Rt2y*dfSG.DF[1])/(1+Rt2y) :.8f}' )      # 2yr DF
# 1x2 fwd IX計算
fwdIX_1x2 = sCrvOBJ.forwardRate(iDT(dfSG.date[1]),iDT(dfSG.date[2]),dcA365,cmpdSPL)
print(f'1x2 fwdIX:{fwdIX_1x2.rate()        :.5%}, ', 
           f'(hc):{dfSG.DF[1]/dfSG.DF[2]-1 :.5%}'   )

1yr DF(hc): 0.93457944,  2yr DF(hc): 0.77743776
1x2 fwdIX:20.21277%,  (hc):20.21277%

In [26]:
# スワップOBJ
swapTNR,   cpnRT,   fwdStart                                        =\
pD('2y'),  Rt2y,    pD('0d')
swapOBJ = ql.MakeVanillaSwap(swapTNR, IX1y, cpnRT, fwdStart, 
                            fixedLegTenor=pdFreqA, nominal=10_000_000)
# シングルカーブ評価
swapOBJ.setPricingEngine(ql.DiscountingSwapEngine(sCrvHDL))
print(f'NPV(single curve):{swapOBJ.NPV():.6f}')
display(mu.swapCashFlow(swapOBJ, sCrvOBJ).style.format(fmtSCF))

NPV(single curve):0.000000

In [27]:
# Discount curve 金利
dCrvHDL = ql.RelinkableYieldTermStructureHandle()
dRt1y,  dRt2y,     dIX1y                          =\
0.05,   0.08,   ql.Tibor(pdFreqA, dCrvHDL)
# カーブ構築  
dHelper = [ql.DepositRateHelper(dRt1y, dIX1y), 
            ql.SwapRateHelper(dRt2y,pD('2y'),calJP, freqA, mFLLW, dcA365, dIX1y)]
dCrvOBJ = ql.PiecewiseLogLinearDiscount(Tp2, calJP, dHelper, dcA365)
dCrvHDL.linkTo(dCrvOBJ)
# DF表示
dfDS = pd.DataFrame([(dt.ISO(),df) for dt,df in dCrvOBJ.nodes()],columns=['date','DF'])
display(dfDS.style.format({'DF':'{:.8f}'}))

In [28]:
# forward curve
fCrvHDL = ql.RelinkableYieldTermStructureHandle()  
fIX1y   = ql.Tibor(pdFreqA, fCrvHDL)
# カーブ構築 
fHelper = [ql.DepositRateHelper(Rt1y, fIX1y),
            ql.SwapRateHelper(Rt2y, pD('2y'), calJP, freqA,
                 mFLLW, dcA365, fIX1y, mu.sqHDL(0), pD('0d'), dCrvHDL)]
fCrvOBJ = ql.PiecewiseLogLinearDiscount(Tp2, calJP, fHelper, dcA365)
fCrvHDL.linkTo(fCrvOBJ)
# DF, fwdRT表示
dfFW    = pd.DataFrame(
    [(dt.ISO(),df) for dt,df in fCrvOBJ.nodes()],columns=['date','DF'])
display(dfFW.style.format({'DF':'{:.10f}'}))
fwdIX_1x2= fCrvOBJ.forwardRate(iDT(dfFW.date[1]),iDT(dfFW.date[2]),dcA365,cmpdSPL)
print(f'1x2 fwdIX:{fwdIX_1x2.rate():.5%}')

1x2 fwdIX:19.68041%

In [29]:
# ベーシス調整DF
bs1y, bs2y = Rt1y-dRt1y, Rt2y-dRt2y              
a1DF = dfDS.DF[1] - bs1y* dfDS.DF[1]  
a2DF = dfDS.DF[2] - bs2y*(dfDS.DF[1]+dfDS.DF[2]) 
print(f'ベーシス調整DF 1y:{a1DF:.8f}, ', f'2y:{a2DF:.8f}')
# フォワードIbor, スワップレート
print(f'1x2 fwdIX(hc):{(a1DF - a2DF)/dfDS.DF[2]          :.5%}, ',   
        f'2y swap(hc):{(1 - a2DF)/(dfDS.DF[1]+dfDS.DF[2]):.5%}'  )

ベーシス調整DF 1y:0.93333333,  2y:0.76499118
1x2 fwdIX(hc):19.68041%,  2y swap(hc):13.00000%

In [30]:
# fIX1y指数のスワップOBJとエンジンの設定
swapOBJ2 = ql.MakeVanillaSwap(swapTNR, fIX1y, cpnRT, fwdStart, 
                                      fixedLegTenor=pdFreqA, nominal=10_000_000)
swapOBJ2.setPricingEngine(ql.DiscountingSwapEngine(dCrvHDL))
# スワップ評価
print(f'NPV(Two curve):{swapOBJ2.NPV():,.2f}, '
      f'FixLeg:{swapOBJ2.legNPV(0)    :,.2f}, FltLeg:{swapOBJ2.legNPV(1):,.2f}')
# キャッシュフロー表
display(mu.swapCashFlow(swapOBJ2, fCrvOBJ, 1).style.format(fmtSCF))   # float
display(mu.swapCashFlow(swapOBJ2, dCrvOBJ, 0).style.format(fmtSCF))   # fix

NPV(Two curve):0.00, FixLeg:-2,350,088.18, FltLeg:2,350,088.18